body {
    height: 150vh;
    
    font-family: 'Montserrat', sans-serif;
    position: relative;
}
.header{
    background-color: rgb(65, 104, 133);

}
.links{
    color: white;
}
#entryHeaderBttn{
    color: white;
}
.container{
    background-color: white;
    text-align: center;
    width: 50%;
    position: absolute;
    left: 25%;
    top: 12%;
    font-family: 'Montserrat', sans-serif;
}
.start {
    position: absolute;
    bottom: 2%;
    left: 50%;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    transform: translate(-50%);
    background-color: transparent;
    border-radius: 40px;
    border: 3px solid black;
    cursor: pointer;
}
.start:hover{
    background-color:rgb(65, 104, 133) ;
color: white;
}

.bluredLogIn{
    background-color: rgb(255, 255, 255);
    width: 30%;
    height: 50%;
    position: fixed;
    text-align: center;
    left: 35%;
    top: 25%;
    border: 3px solid black;

}
.email2{
    text-align: left;
    padding-top: 10px;
    width:60%;
    border-bottom: 2px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
  position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    
}

.password2{
    text-align: left;
    padding-top: 15px;
    width:60%;
    border-bottom: 2px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
  position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    
}
.passwordShowingImg2{
    height: 5%;
    position: absolute;
    left: 72%;
    right: 50%;
    bottom: 56%;
    cursor: pointer; 
}

.forgetPassword {
    position: absolute;
   left: 50%;
   top: 58%;
   transform: translate(-50%, -50%);
   margin-top: 5%;
    color: black;
    font-family: 'Noto Sans SC', sans-serif;
}

.submit2{
    position: absolute;
    top: 45%;
    right: 30%;
   margin-top: 15px;
    cursor: pointer;
    background-color: transparent;
    text-align: center;
    border: 1px black solid;
    border-radius: 40px;
    width: 40%;
    height: 10%;
}
.submit2:hover{
    background-color: rgba(81, 128, 216, 0.677);
    border: 2px black solid;
}
.google2{
    position: absolute;
    bottom: 15%;
    right: 72%;
}
.facebook2{
    position: absolute;
    bottom: 15%;
    right: 52%;
}
.github2{
    position: absolute;
    bottom: 15%;
    right: 32%;
}

.h1Blured{
    font-size: 18px;
}

.reg{
    color: black;
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
}
hr{
    display: none;
}

.footer{
    height: 35%;
}

@media screen  and (max-width: 450px ){
    body, html{
        height: 180vh;
        overflow-x: hidden;
    }

    .title{
        position: relative;
        top: 25px;
    }
    .header{
       
        top: 0;
        z-index: 2;
        

        height: 220px;
    }
   .bluredLogIn {
    width: 300px;
    position: relative;
    left: 45px;
    top: 240px;
   }
   .linksDiv{
    background-color: rgb(65, 104, 133);
    padding-left: 310px;
    position: relative;
    top: 80px;
    right: 165px;
    height: 70px;
   }
   #links-home{
    top: 41px;
    right: 290px;
   }
   #links-lessons{
   top: 13px;
   right: 155px;
   }
   #links-exams{
    top:-13px;
    right: 52px;
   }
   .container{
   position: relative;
   left: 50px;
   width: 336px;
   z-index: 1;
  top: 55px;
   }
 
   .hr1{
    display: block;
    position: relative;
    top: 100px;
   }
   .logo_img{
    position: relative;
    bottom: 45px;
    right: -120px;
   }
   .passwordShowingImg2{
    height: 22px;
    bottom: 300px;
   }
   .footer{
    border-radius: 0px;
    height: 37%;
   
   }
   #logInBttn2{
    left: 100px;
    top: 30px;
   }
   .footerTitle{
    top: 70px;

   }
.footerDescription{
    top: 125px;
}
.feedBack{
    left: 120px;
    top: 260px;
}
.nameFooter, .emailFotter, .descriptionUser{
    left: 120px;
    
}
.nameFooter{
    top: 320px;
}
.emailFotter{
    top: 360px;
}
.descriptionUser{
    top: 400px;
}
.submitFeedback{
    left: 135px;
}
}