@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300&display=swap');
body{
overflow-x: hidden;
 
  height: 100vh;
  background-color: #ddd;
 
}
form {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: white; 
padding-left: 550px;
padding-top: 187px;
text-align: center;
}
input{
    text-align: left;
    padding-top: 10px;
    width:250px;
    border-bottom: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
}
::placeholder{
    text-align: left;
}
.name {
    position: absolute;
    top: 60px;
    left: 20%;
    transform: translate(-50% );
}
.lastName {
    position: absolute;
    top: 100px;
    left: 20%;
    transform: translate(-50% );
}

.email {
    position: absolute;
    top: 140px;
    left: 20%;
    transform: translate(-50% );
}
.password {
    position: absolute;
    top: 180px;
    left: 20%;
    transform: translate(-50% );
}

.informationContainer{
    position: absolute;
    top: 0px;
    right: 0px;
    background-color:rgba(81, 128, 216, 0.677);
    padding-left: 39px;
    padding-right: 9px;
    padding-top: 100px; 
    padding-bottom: 66px;
    border-radius: 120px 0  0 120px ;
}
.title {
    position: relative;
    bottom: 100px;
    font-family: 'Caveat', cursive;
    font-size: 35px;
}
.informationText{
    position: relative;
    bottom: 90px;
    font-family: 'Noto Sans SC', sans-serif;
}
.haveAccount{
   position: relative;
   bottom: 55px;
   font-family: 'Noto Sans SC', sans-serif;
}
.checkBox1{
    position: relative;
    bottom: 104px;
    right: 625px;
}
.savingProfile{
    position: relative;
    bottom: 125px;
    right: 535px;
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 13px;
}
.submitReg{
    position: relative;
    bottom:107px;
    right: 535px;
    cursor: pointer;
    background-color: transparent;
    text-align: center;
    border: 1px black solid;
    border-radius: 40px;
    width: 180px;
    height: 40px;
}
.submitReg:hover{
    background-color: rgba(81, 128, 216, 0.677);
    border: 2px black solid;
}
.dot1 {
    height: 5px;
    width: 5px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    bottom: 133px;
    right: 523px;
    
}
.p1 {
    position: relative;
    bottom:161px;
    right: 505px;
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 14px;
}
.dot2{
    height: 5px;
    width: 5px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    bottom: 173px;
    right: 523px;
     
}
.p2 {
    position: relative;
    bottom:199px;
    right: 507px;
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 14px;
}
.dot3 {
  height: 5px;
    width: 5px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    bottom: 213px;
    right: 523px;
}
.p3 {
    position: relative;
    bottom:237px;
    right: 507px;
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 14px;
}
.dot4{
    height: 5px;
    width: 5px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    bottom: 250px;
    right: 523px;
    
}

.p4{
    position: relative;
    bottom:278px;
    right: 507px;
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 14px;
}

.p1, .p2, .p3, .p4 {
    display: none;
}
.dot1, .dot2, .dot3, .dot4 {
    display: none;
}
.google{
    position: relative;
    bottom: 50px;
    right: 690px;
}
.facebook{
    position: relative;
    bottom: 50px;
    right: 650px; 
}
.github {
    position: relative;
    bottom: 50px;
    right: 610px;   
}
.passwordShowingImg{
    height: 17px;
    position: relative;
    right: 408px;
    bottom: 75px;
    cursor: pointer;
}

