@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');
body, html {
  overflow-wrap: hidden;
  position: relative;
  }
  .welcomingContainer {
    position: relative;
    border-radius: 0 0 120px 120px;
    padding-left: 160px;
    padding-top: 440px;
    background-color: rgb(65, 104, 133);
   
    animation: animation1 3s forwards;
  }
  
  @keyframes animation1 {
    from { top: -70px; }
    to { top: 0px; }
  }
  


.links{
  color: white;
}
#entryHeaderBttn{
  color: white;
}
.welcomingImg{
  height: 380px;
  position: relative;
  bottom: 420px;
  float: right;
  border-radius: 0 0 120px 0 ;
}

.textInner {
  position: relative;
  bottom: 180px;
  font-family: 'Caveat', cursive;
  font-weight: bold;
  color: white;
  font-size: 70px;
  font-weight: bold;

}
@keyframes animation2 {
  from {
    left: -80px;
  }
  to{
    left: 50px;
  }
}
.question {
  position: relative;
  top: 440px;
  color: white;
  font-size: 26px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;

}


.answerColmContainer1, .answerColmContainer2, .answerColmContainer3 {
 position: relative;
 top: 770px;
left: 50%; 
transform: translate(-50%);
 width: 50%;
 padding-left: 60px;
 padding-right: 60px;
 padding-top:30px;
 padding-bottom: 30px;
  border: solid 5px black;
  border-radius: 30px;
  color: rgb(0,72,96);
  font-family: 'Montserrat', sans-serif;
}

.answersTopic{
  text-align: center;
  font-size: 36px;
  color: black;
}


.answers {
  position: relative;
  left: 20px;
  font-size: 14px;
  
}



#question1{
  display : none;
  font-size: 35px;
  position: absolute;
  top: 640px;
  left: 50%;
transform: translate(-50%);
  text-align: center;
 font-family:'Montserrat', sans-serif;

}

@keyframes animation3 {
  
from {
  top: -120px;
}
to{
  top: 620px;
}
}
.questionAnswerContainer{
  position: relative;
    bottom: 502px;
}

.header{
 background-color: rgb(65, 104, 133);
}
.fixed-header{
  padding-left:30px ;
  position: fixed;
  width: 100%;
  height: 102px;
  z-index: 1000;
  opacity: 10;

 
}

.selection1{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
.howTo1{
  position: relative;
  top:350px;
font-size: 36px;
font-weight: bold;
}
.answer1{
  position: relative;
  top: 370px;
  font-size: 14px;
  right: 316px;

}

.Video1{
  position: relative; 
  margin-top: 285px; 
  left: 50%;
  height: 15%;
  width: 40%;
  margin-bottom: 400px;
}


.top{

  display: none;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  position:fixed;
  right: 1%;
  top: 93%;
background-color: #677382;
 color: white;
 border: none;
 font-size: 20px;
  
}
.top:hover{
  background-color: #4c545e;
}
@media screen and (min-width:320px) and (max-width: 460px) {
  body, html{
  overflow: hidden;
  
  }
  .welcomingContainer{
    font-size:35px ;
  }
  
}
