body,html {
    height: 350vh;
    overflow-x:hidden ;
  margin: 0;
  padding: 0;
  position: relative;
}
.header{
    background-color: rgb(65, 104, 133);

}
.links{
    color: white;
}
#entryHeaderBttn{
    color: white;
}
.infoContainer {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
hr{
    width: 780px;
}

.tissueTopic{
    font-size: 24px;
    margin-left: 28px;
    
}

  .img2 , .img3, .img4{
    display: none;
  }
.tissueContainer {
    top: 760px;
    border: 3px solid black;
    width: 120vh;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    padding: 10px;
    border-radius: 30px;
}
.exclamationMark{
    height: 80px;
    position: relative;
    bottom:80px;
    right: 470px;
}
.boldText1{
    position: relative;
    top:420px;
    font-size: 36px;
}

.titleScreen{
    background-color: rgb(65, 104, 133);
    padding-left: 320px;
    padding-top: 420px;
    border-radius: 0 0 100px 100px;
}

.title{
    color: white;
   text-align: center;
    font-weight: bold;
    font-size: 64px;
    position: static;
    margin-top: -290px;
    margin-left: -290px;
    font-family: 'Caveat', cursive;
}

.mnogosloen{
    height: 100px;
    position: absolute;
    top: 1255px;
}
.plosyk {
    position: relative;
    right: 325px;
    top: -30px;
}
.prizmatichen{
      position: relative;
      right: 300px;
      top: 30px;
}
.text{
    margin-bottom: 400px;
}
.footer{
    margin-top: 430px;
}

@media screen and (max-width: 460px) {
    body,html{
        margin: 0;
        padding: 0;
        min-height: 315vh;
       position: relative;
    }
    .title{
     margin-left: -325px;
    }
    .links{
        position: relative;
     
    }
    #links-index{
        left: -237px;
        top: 96px;
        
      }
      #links-lesson{
        left: -94px;
        top: 70px;
      }
      #links-exam{
        left: 24px;
        top: 45px;
      }
      .logo_img{
        position: relative;
        left: 130px;
      
      }
      .text{
        text-align: center;
      }
      .title{
        position: relative;
        top: 35px;
        font-size: 40px;
      }
      .linksDiv{
        margin-right:25px;
 
    }
    .logobttn{
        position: relative;
        right: 22px;
    }
    .img1{
        display: none;
    }
    .img2{
        position: relative;
        bottom: 95px;
    }
    .img3{
        position: relative;
        bottom: 178px;
    }
    .img4{
        position: relative;
        bottom: 260px;
    }
    .tire2{
        position: relative;
        bottom: 300px;
    }
    
    .functions2{
        position: relative;
        bottom: 250px;
    }
    .example{
        position: relative;
        bottom: 240px;
        
    }
    .footer{
        border-radius: 0px;
        height: 20%;
        position: absolute;
        top:2445px;
        width: 100%;
}
       #logInBttn2{
        left: 75px;
        top: -15px;
       }
       .footerTitle{
        top: 70px;
    
       }
    .footerDescription{
        top: 125px;
        text-align: center;
        right: 22px;
    }
    .feedBack{
        left: 100px;
        top: 240px;
    }
    .nameFooter, .emailFotter, .descriptionUser{
        left: 100px;
        
    }
    .nameFooter{
        top: 320px;
    }
    .emailFotter{
        top: 360px;
    }
    .descriptionUser{
        top: 400px;
    }
    .submitFeedback{
        left: 115px;
        top: 490px;
    
    }
    .copyright{
        left: 203px;
        top: 536px;
    }
}

