body {
    height: 560vh;
    overflow-x: hidden;
}
.header{
    background-color: rgb(65, 104, 133);

}
.links{
    color: white;
}
#entryHeaderBttn{
    color: white;
}
.infoContainer {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
hr{
    width: 780px;
}

.tissueTopic{
    font-size: 24px;
    margin-left: 28px;
}

.tissueContainer {
    top: 760px;
    border: 3px solid black;
    width: 120vh;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    padding: 10px;
    border-radius: 30px;
}
.exclamationMark{
    height: 80px;
    position: relative;
    bottom:80px;
    right: 470px;
}
.boldText1{
    position: relative;
    top:420px;
   
    font-size: 36px;
}

.titleScreen{
    background-color: rgb(65, 104, 133);
    padding-left: 320px;
    padding-top: 420px;
    border-radius: 0 0 100px 100px;
    text-align: center;
}
.title{
    color: white;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 36px;
   
}
.titleImg{
    height: 150px;
    position: relative;
    bottom: 150px;
    left: 120px;
}
.tissue{
   font-size: 34px;
}
.p1 {
    position: relative;
    top: -12px;
    font-size: 15px;
}
.sketchfab-embed-wrapper{
    position: absolute;
   transform: translate(-50%, -50%);
    left: 50%;
    top: 54%;
}

.p2 {
    position: relative;
    top:420px;
}
.boldText2{
    position: relative;
    top:480px;
}
.middleText1{
  position: relative;
  top:520px;
  font-size:22px;
}
.smallText1{
    position: relative;
    top:550px;
}
.plosykEpitel{
    position: relative;
    top:570px;
}

.smallText2{
    position: relative;
    top:590px;
}
.prizmati4enEpitel{
    position: relative;
    top: 600px;
}
.smallText3{
    position: relative;
    top: 620px;
}
.kubichenEpitel{
    position: relative;
    top: 630px;
}
.nevrqgov, .vrogovrq6t{
    position: relative;
    top: 650px; 
}
.mnogosloen{
    position: relative;
    top: 660px;
}
.boldText4{
    position: relative;
    top: 670px;
}
.smallText4{
    position: relative;
    top:680px;
}
