@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300&display=swap');
body{
overflow-x: hidden;
overflow-y: hidden;
  height: 100vh;
  background-color: #ddd;
 
}
input{
    text-align: left;
    padding-top: 10px;
    width:250px;
    border-bottom: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
}
::placeholder{
    text-align: left;
}
.login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white; 
    padding-left: 670px;
    padding-top: 316px;
    text-align: center;
    }
    .passwordShowingImg2{
        height: 5%;
        position: absolute;
        left: 92%;
        right: 50%;
        bottom: 60%;
        cursor: pointer; 
    }
    .infoContainer2{
        position: absolute;
        left: 0;
        bottom: 0;
        background-color:rgba(81, 128, 216, 0.677);
        height:100%;
        width: 55%;
     
    }
    .title2{
        position: absolute;
        bottom: 75%;
        right: 45%;
        font-family: 'Caveat', cursive;
        font-size: 35px;
        
    }
    .informationText2{
        position: absolute;
        top: 20%;
        left: 5%;
        bottom: 20%;
        right: 5%;
        font-family: 'Noto Sans SC', sans-serif;
        color: white;
    }
    .dontHaveAccount {
        font-family: 'Noto Sans SC', sans-serif;
        position: absolute;
        top: 70%;
        left: 15%;
        right: 10%;
        color: white;
    }
    .linkReg{
        color: white;
    }
    .email2{
        position: absolute;
        bottom: 75%;
        left: 60%;
        right: 20%;
    }
    .password2{
        position: absolute;
        bottom: 60%;
        left: 60%;
    }
    .email2, .password2{
        right: 30px;
    }
    .submit2{
        position: absolute;
        top: 45%;
        right: 10%;
       
        cursor: pointer;
        background-color: transparent;
        text-align: center;
        border: 1px black solid;
        border-radius: 40px;
        width: 180px;
        height: 40px;
    }
    .submit2:hover{
        background-color: rgba(81, 128, 216, 0.677);
        border: 2px black solid;
    }
    .forgetPassword {
        position: absolute;
        bottom: 31%;
        right: 13%;
        
        top: 63%;
        margin-left: 335px;
        color: black;
        font-family: 'Noto Sans SC', sans-serif;
    }
    .google2{
        position: absolute;
        bottom: 15%;
        right: 32%;
    }
    .facebook2{
        position: absolute;
        bottom: 15%;
        right: 22%;
    }
    .github2{
        position: absolute;
        bottom: 15%;
        right: 12%;
    }

    /*За телефон*/

    @media screen and (max-width: 480px) {
        body,html {
            overflow-x: hidden;
            overflow-y: hidden;
            height: 300px;
        }
        .infoContainer2{
            bottom: 411px;
            height: 60%;
           
           width: 100%;
        }
        .login{
         left: 440px;
           top: 50%;
           transform: translate(-50%);
           width: 109px;
           padding-left: 420px;
        }
        .email2, .password2{
            position: relative;
            left: -197px;
            bottom: 242px;
            font-size: 20px;
        }
        .email2{
            margin-bottom:25px ;
        }
        .submit2{
            right: 230px;
        }
        .forgetPassword{
            right: 245px;
        }
        .google2{
            right: 420px;
        }
        .facebook2 {
            right: 320px;
        }
        .github2{
            right: 220px;
        }
        .passwordShowingImg2{
            left: 75%;
            bottom: 60%;
        }
     .title2{
        top: -22px;
     }
}