@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300&display=swap');
body {
    height: 300vh;
    overflow-y: smooth;
    overflow-x: hidden;
    overscroll-behavior-y: scroll;
  }
 
.welcomingContainer {
  position: relative;
  border-radius: 0 0 120px  120px;
  padding-left: 160px;
  padding-top: 140px;
  background-color: rgb(65, 104, 133);


} 
.links{
  color: white;
}
#entryHeaderBttn{
  color: white;
}
.welcomingImg{
  height: 380px;
  position: relative;
  bottom: 420px;
  float: right;
  border-radius: 0 0 120px 0 ;
}
.header {
    background-color: rgb(65, 104, 133);
}
.title {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    font-family: 'Caveat', cursive;
    color: white;
    font-size: 36px;
}
.dataTopic{
    text-align: center;
    font-family: 'Noto Sans SC', sans-serif;
}
.nameData, .lastNameData, .emailData{
    text-align: center;
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 20px;
    position: relative;
    left: 120px;
}

.img{
  background-size: cover;
 background-position: center;
  border: 3px solid black;
  position: relative;
  top: 255px;
  left: 100px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.initial {
  position: relative;
  top: 60px;
  left: 71px;
  font-family:'Franklin Gothic Medium';













.signOut{
    position: relative;
    top:420px;
}