@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
body, html {
    overflow-x: hidden;
    background-color: rgba(255, 255, 255, 0.635);
}
  /* Телефон */
#phone {
    display: block;
    background-color: rgba(0, 0, 0, 0.19);/* Прозрачен бял цвят с прозрачност 10% */
    border-radius: 40px; /* Ако всички четири ъгъла имат същия радиус, може да го зададете по този начин */
    padding-bottom: 430px;
    bottom: 20px;
    margin: 70px 15px 0; /* Обединяване на маржините в един ред */
    border: 3px solid black;
    position: relative; /* Задължително за абсолютната позиция на псевдоелемента */
}

#phone::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.256); /* Прозрачен бял цвят с прозрачност 10% */
    border-radius: 40px; /* Ако всички четири ъгъла имат същия радиус, може да го зададете по този начин */
    z-index: -1; /* Зад наситения текст */
}

#title {
    position: relative;
    text-align: center;
    color: black;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 35px;
    top: 40px; /* Използване на маржин, вместо top */
}

#Enter{
    left: 50%;
    top: 70%;
    transform: translate(-50%);
    position: absolute;
    width: 200px;
    background: transparent;
    color: black;
    border: 3px solid black;
    border-radius: 40px;
    height: 50px;
    font-family: "Balsamiq Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}
#pin1{
    transform: translate(-50%);
    position: absolute;
    width: 200px;
    left: 50%;
    top: 40%;  
    font-family: "Balsamiq Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  color: black;
  
  background: transparent;
  border-bottom: 2.5px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
}
#name2 {
    transform: translate(-50%);
    position: absolute;
    width: 200px;
    left: 50%;
    top: 50%;  
    font-family: "Balsamiq Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  color: black;
  background: transparent; 
  border-bottom: 2.5px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  
}
::placeholder{
    color: black;
  }

  #pleaseWait{
    display: none;
  }

  #question{
    
    display: block;
    background-color: rgba(138, 176, 216, 0.39);
    border: 2px solid black;
    margin-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-radius: 40px 40px 40px 40px;
    width: 95%;
    height: 40%;

  }

 @media screen and (max-width: 325px) {
   #answers{
    font-size: 15px;
    font-family: "Balsamiq Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  
   }
   #questions {
    text-align: center;
      font-size: 20px;
      font-family: "Balsamiq Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  
   }
 }

  /* Дъска */
#title1{
    text-align: center;
    color: black;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 65px;
    position: relative;
    bottom: 140px;
}
#link{
    text-align: center;
    color: black;
    font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
    font-size: 45px;
    position: relative;
    bottom: 240px;
}
span{
   text-decoration:underline;
}

#check{
  text-align: center;
  font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 35px;
}
#board{

    background-color: rgba(255, 255, 255, 0.169);
    position: absolute; 
   left: 50%;
   top: 20%;
   transform: translate(-50%);
    width: 80%;
    height: 70%;
}
#pin{
    text-align: center;
    color: black;
    font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
    font-size: 50px;
    position: relative;
    top:  10px;

}
#start{
  display: block;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%);
    background: transparent;
    border: 3px solid black;
    border-radius: 40px;
    width: 320px;
    color: black;
    font-size: 40px;
    cursor: pointer;
}
#startGame{
    display: none;
}
#startGameButton{
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%);
  background: transparent;
  border: 3px solid black;
  border-radius: 40px;
  width: 320px;
  color: black;
  font-size: 40px;
  cursor: pointer;
  
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
table{
  width: 50%;
  position: absolute;
  left: 50%; 
  top: 10%;
  display: none;
  transform: translate(-50%);
}
th{
  width: 50%;
  font-family: "Arial", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 22px;
  color: black;
  text-align: center;
}
td{
  width: 49.3%;
  display: flex;
  flex-direction: column;
  font-family: "Arial", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 22px;
  color: black;
  text-align: center;
  
}
#tableView{
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%);
  background: transparent;
  border: 3px solid black;
  border-radius: 40px;
  width: 320px;
  color: black;
  font-size: 40px;
  cursor: pointer;
}
#name{
  transform: translate(-50%);
    position: absolute;
    left: 50%;
    top: 98%;  
    width: 100%;
  border: none;
}
@media screen and (max-width: 480px) {
      #board {
        display: none;
       
      }
      body,html {
        overflow: hidden; 
        height: 90vh;
      }
}

@media screen and (min-width: 600px) and (max-width: 3840px) {
    #phone{
        display: none;
    }
    #game{
      display: none;
    }
}




