@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
body, html {
    overflow-x: hidden;
    background: rgb(30,26,55);
    background: -moz-linear-gradient(90deg, rgba(30,26,55,1) 0%, rgba(25,26,68,1) 23%, rgba(5,8,94,1) 49%, rgba(5,9,119,1) 74%);
    background: -webkit-linear-gradient(90deg, rgba(30,26,55,1) 0%, rgba(25,26,68,1) 23%, rgba(5,8,94,1) 49%, rgba(5,9,119,1) 74%);
    background: linear-gradient(90deg, rgba(30,26,55,1) 0%, rgba(25,26,68,1) 23%, rgba(5,8,94,1) 49%, rgba(5,9,119,1) 74%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1e1a37",endColorstr="#050977",GradientType=1);
 
 
}
#phone{
 background-color: #ffffff;
 opacity: 50%;
 border-radius: 40px 40px 40px 40px;
 padding-bottom: 420px;
 margin-left: 15px;
 margin-right: 15px;
 margin-top: 70px;
 box-shadow: inset -2px -3px 2px black;
 filter: brightness(100%);

}
#title{
    position: relative;
    text-align: center;
    color: black;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 35px;
    top: 30px;
   filter: brightness(200%);
   

}

#Enter{
    left: 50%;
    top: 60%;
    transform: translate(-50%);
    position: absolute;
    width: 200px;
    background: transparent;
    color: black;
    border: 3px solid black;
    border-radius: 40px;
    height: 50px;
    font-family: "Balsamiq Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}
#pin1{
    transform: translate(-50%);
    position: absolute;
    width: 200px;
    left: 50%;
    top: 40%;  
    font-family: "Balsamiq Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  color: black;
  
  background: transparent;
  border-bottom: 2.5px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
}
#name {
    transform: translate(-50%);
    position: absolute;
    width: 200px;
    left: 50%;
    top: 50%;  
    font-family: "Balsamiq Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  color: black;
  
  background: transparent;
  border-bottom: 2.5px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
}
::placeholder{
    color: black;
  }
@media screen and (max-width: 480px) {
      #board {
        display: none;
      }
      body,html {
        height: 90vh;
      }
}

@media screen and (min-width: 600px) and (max-width: 3840px) {
    #phone{
        display: none;
    }
}