@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
body, html {
    overflow-x: hidden;
 
    background: rgb(30,26,55);
    background: -moz-linear-gradient(90deg, rgba(30,26,55,1) 0%, rgba(25,26,68,1) 23%, rgba(5,8,94,1) 49%, rgba(5,9,119,1) 74%);
    background: -webkit-linear-gradient(90deg, rgba(30,26,55,1) 0%, rgba(25,26,68,1) 23%, rgba(5,8,94,1) 49%, rgba(5,9,119,1) 74%);
    background: linear-gradient(90deg, rgba(30,26,55,1) 0%, rgba(25,26,68,1) 23%, rgba(5,8,94,1) 49%, rgba(5,9,119,1) 74%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1e1a37",endColorstr="#050977",GradientType=1);
 
 
}
#phone {
    background-color: rgba(255, 255, 255, 0.257); /* Прозрачен бял цвят с прозрачност 10% */
    border-radius: 40px; /* Ако всички четири ъгъла имат същия радиус, може да го зададете по този начин */
    padding-bottom: 430px;
    bottom: 20px;
    margin: 70px 15px 0; /* Обединяване на маржините в един ред */
    border: 3px solid black;
    position: relative; /* Задължително за абсолютната позиция на псевдоелемента */
}

#phone::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.256); /* Прозрачен бял цвят с прозрачност 10% */
    border-radius: 40px; /* Ако всички четири ъгъла имат същия радиус, може да го зададете по този начин */
    z-index: -1; /* Зад наситения текст */
}

#title {
    position: relative;
    text-align: center;
    color: white;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 35px;
    top: 40px; /* Използване на маржин, вместо top */
}

#Enter{
    left: 50%;
    top: 70%;
    transform: translate(-50%);
    position: absolute;
    width: 200px;
    background: transparent;
    color: white;
    border: 3px solid white;
    border-radius: 40px;
    height: 50px;
    font-family: "Balsamiq Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}
#pin1{
    transform: translate(-50%);
    position: absolute;
    width: 200px;
    left: 50%;
    top: 40%;  
    font-family: "Balsamiq Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  color: white;
  
  background: transparent;
  border-bottom: 2.5px solid white;
  border-top: none;
  border-left: none;
  border-right: none;
}
#name {
    transform: translate(-50%);
    position: absolute;
    width: 200px;
    left: 50%;
    top: 50%;  
    font-family: "Balsamiq Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  color: white;
  
  background: transparent;
  border-bottom: 2.5px solid white;
  border-top: none;
  border-left: none;
  border-right: none;
}
::placeholder{
    color: white;
  }

#title1{
    text-align: center;
    color: white;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 65px;
    position: relative;
    bottom: 140px;
}
#link{
    text-align: center;
    color: white;
    font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
    font-size: 45px;
    position: relative;
    bottom: 240px;
}
span{
   text-decoration:underline;
}
#board{
    background-color: rgba(255, 255, 255, 0.169);
    position: absolute; 
   left: 50%;
   top: 20%;
   transform: translate(-50%);
    width: 80%;
    height: 70%;
}
#pin{
    text-align: center;
    color: white;
    font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
    font-size: 50px;
    position: relative;
    top:  10px;

}
#start{
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%);
    background: transparent;
    border: 3px solid white;
    border-radius: 40px;
    width: 320px;
    color: white;
    font-size: 40px;
}
#startGame{
    display: none;
}
@media screen and (max-width: 480px) {
      #board {
        display: none;
       
      }
      body,html {
        overflow: hidden; 
        height: 90vh;
      }
}

@media screen and (min-width: 600px) and (max-width: 3840px) {
    #phone{
        display: none;
    }
}