@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');


body, html {
  overflow-x:hidden ;
  margin: 0;
  padding: 0;
  position: relative;
  }
.logobttn {
  background-color: transparent;
  border: none;
  display: block;
}

.logo_img {
  max-height: 100px;
}


.bodyRegistrationPage {
  margin: 0;
  padding: 0;
  height: 105vh;
}

.header {
  display: flex;

}
.links {
  position: relative;
  top:12px;
  right: 165px;
  margin-right: 20px;
  text-decoration: none;
  color: white;
   font-family: 'Franklin Gothic Medium';
   font-size: 24px;
}
.entryLinks {
  text-align: center;
  color: rgb(0,72,96);
  text-decoration: none;
 
}

.linksDiv {
  z-index: 1000;
  margin-top: 40px; 
  text-align: right;
  margin-left: auto;
  margin-right: 50px;
}
 .links:hover {
  text-decoration: underline;
 }
 
 #entryHeaderBttn {
  background-color: transparent;
  border: 3px black solid; 
  border-radius: 60px;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 12px;
  padding-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
 color: rgb(0,72,96);
  font-family: 'Franklin Gothic Medium';
 }
 #entryHeaderBttn:hover {
  background-color: rgba(81, 128, 216, 0.677);
 
 }
 .labelHeader{
  position: relative;
  right: 600px;
 float: left;
 }
 

 .fixed-header{
   padding-left:30px;
   position: fixed;
   width: 100%;
   z-index: 1004;
   background-color: rgb(65, 104, 133);
   }
  .links2 {
   position: relative;
   bottom:10px;
   color: white;
 }
 
 
 .input2 {
   position: relative;
   bottom: 10px;
   
 }
.myProfileBttn{
  position: relative;
  bottom: 22px;
  left: 160px;
  background-color: transparent;
  border: 2px white solid;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 40px;
  cursor: pointer;
  color: white;
  font-family: 'Franklin Gothic Medium';
  font-size: 20px;
  display: none;
}
.logInBttn{
  position: relative;
  bottom: 22px;
  left: 160px;
  background-color: transparent;
  border: 2px white solid;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 40px;
  cursor: pointer;
  color: white;
  font-family: 'Franklin Gothic Medium';
  font-size: 20px;
}


.footer{
  margin-top: 220px;
  position: absolute;
  bottom: 0;
  background-color: rgb(65, 104, 133);
  width: 100%;
  height: 15%;
  border-radius: 120px 120px 0 0 ;
}

#logInBttn2{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
.footerTitle{
  position: absolute;
  top: 25%;
  font-family: 'Caveat', cursive;
  left: 50%;
  transform: translate(-50%);
}
.footerDescription{
  position: absolute;
  top: 55%;
  margin-left: 20px;
  font-family: 'Montserrat', sans-serif;
}

.footerTitle, .footerDescription{
  color: white;
}
.nameFooter{
top: 35%;
}
.emailFotter{
top: 45%;
}
.descriptionUser{
 top: 55%;
height: 70px;
}
.submitFeedback{
top: 80%;
position: absolute;
left: 76%;
border-radius: 40px;
padding-left: 60px;
padding-right: 60px;
padding-top: 10px;
padding-bottom: 10px;
border: 3px solid black;
cursor: pointer;
}
.nameFooter, .emailFotter, .descriptionUser{
  position: absolute;
  left: 75%;
  width: 200px;
}
.feedBack{
  font-family: 'Caveat', cursive; 
  color: white;
  position: absolute;
  left: 75.5%;
  top: 15%;

}
.copyright{
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translate(-50%);
  color: white;
  font-family: 'Montserrat', sans-serif;
}
